<section>
    <h4 class="w3-margin">{{ agency|properties('agency_name') }}</h4>
    <ul class="w3-ul w3-hoverable">
        {% for route in agency|properties('routes') %}
            {% include "components/route_item.j2" %}
        {% endfor %}
    </ul>
</section>