{% if GTFS_REALTIME_HTTP_TRIP_UPDATES_URL is not none or GTFS_REALTIME_HTTP_VEHICLE_POSITIONS_URL is not none or GTFS_REALTIME_HTTP_SERVICE_ALERTS_URL is not none %}
<script>
if (document.readyState === 'loading') {
    document.addEventListener('DOMContentLoaded', function (e) {
        {% if GTFS_REALTIME_METHOD == 'http' %}
            {% if GTFS_REALTIME_HTTP_VEHICLE_POSITIONS_URL is not none %}
            initializeHttpRealtimeUpdates('{{ GTFS_REALTIME_HTTP_TRIP_UPDATES_URL }}', null, '{{ GTFS_REALTIME_HTTP_VEHICLE_POSITIONS_URL }}', routeVehiclePositionsCallback, routeIds);
            {% endif %}
            {% if GTFS_REALTIME_HTTP_SERVICE_ALERTS_URL is not none %}
            initializeHttpServiceAlerts('{{ GTFS_REALTIME_HTTP_SERVICE_ALERTS_URL }}', routeIds, routeServiceAlertsCallback);
            {% endif %}
        {% elif GTFS_REALTIME_METHOD == 'mqtt' %}
            {% if GTFS_REALTIME_MQTT_TRIP_UPDATES_TOPIC is not none or GTFS_REALTIME_MQTT_VEHICLE_POSITIONS_TOPIC is not none or GTFS_REALTIME_MQTT_SERVICE_ALERTS_TOPIC is not none %}
            initializeMqttRealtimeUpdates(
                '{{ GTFS_REALTIME_MQTT_BROKER_HOST}}',
                {{ GTFS_REALTIME_MQTT_BROKER_PORT}},
                '{{ GTFS_REALTIME_MQTT_BROKER_USERNAME }}',
                '{{ GTFS_REALTIME_MQTT_BROKER_PASSWORD }}',                
                {% if GTFS_REALTIME_MQTT_TRIP_UPDATES_TOPIC is not none %}'{{ GTFS_REALTIME_MQTT_TRIP_UPDATES_TOPIC }}'{% else %}null{% endif %},
                null,
                {% if GTFS_REALTIME_MQTT_VEHICLE_POSITIONS_TOPIC is not none %}'{{ GTFS_REALTIME_MQTT_VEHICLE_POSITIONS_TOPIC }}'{% else %}null{% endif %},
                routeVehiclePositionsCallback,
                {% if GTFS_REALTIME_MQTT_SERVICE_ALERTS_TOPIC is not none %}'{{ GTFS_REALTIME_MQTT_SERVICE_ALERTS_TOPIC }}'{% else %}null{% endif %},
                routeServiceAlertsCallback,
                routeIds
            );
            {% endif %}
        {% endif %}
    });
}
</script>
{% endif %}