<div>
    {% set route_color = route|properties('route_color') %}
    {% if route_color is none %}
        {% set route_color = APP_TEMPLATE_COLOR %}
    {% endif %}
    {% set route_text_color = route|properties('route_text_color') %}
    {% if route_text_color is none %}
        {% set route_text_color = APP_TEMPLATE_COLOR|text(0) %}
    {% endif %}
    {% if route|properties('route_short_name') is not none %}
        <div class="w3-large app-route-name" style="background-color:{{ route_color }};color:{{ route_text_color }}">{{ route|properties('route_short_name') }}</div>
    {% else %}
        <div class="w3-large app-route-name" style="background-color:{{ route_color }};color:{{ route_text_color }}">{{ route|properties('route_short_name') }}</div>
    {% endif %}
</div>
<div>
    {% set route_long_name = route|properties('route_long_name') %}
    {% set route_desc = route|properties('route_desc') %}
    {% if route_long_name is not none and route_desc is none %}
        <span class="w3-large app-route-desc">{{ route_long_name }}</span>
    {% elif route_long_name is none and route_desc is not none %}
        <span class="w3-large app-route-desc">{{ route_desc }}</span>
    {% else %}
        <span class="w3-large">{{ route_long_name }}</span><br />
        <span class="w3-medium w3-text-gray app-route-desc">{{ route_desc }}</span>
    {% endif %}
</div>