html, body {
	height: 100%;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
}

header, footer {
	flex: 0 0 auto;
}

header > a {
	width: 40px !important;
}

main {
	flex: 1 1 auto;
	display: flex;
	overflow: hidden;
}

aside {
	width: 420px;
	flex: 0 0 auto;
	overflow-y: auto;
}

div#app-map-wrapper {
	position: relative;
	flex: 1 1 auto;
}

div#app-map {
	width: 100%;
	height: 100%;
}

li.app-route-item {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 15px;
	cursor: pointer;
}

div.app-route-header {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 15px;
}

div.app-route-name {
	width: 46px;
	height: 46px;
	border-radius: 23px;
	display: flex;
	align-items: center;
	justify-content: center;
	letter-spacing: -1px;
	flex-shrink: 0;
	font-weight: bold;
}

span.app-route-desc {
	display: inline-block;
	max-width: 300px;
}

div.app-vehicle-img-wrapper {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	padding: 8px;
	cursor: pointer;
	width: 48px;
	height: 48px;
}

div.app-vehicle-direction-arrow-wrapper {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) rotate(0deg);
	transform-origin: center;
}

div.app-vehicle-direction-arrow-wrapper div {
	position: absolute;
	left: 50%;
    bottom: 110%;
    transform: translateX(-50%);
}

div.app-vehicle-trip-info {
	margin-top: 12px;
}

div.app-vehicle-trip-info > span {
	border: 4px solid #fff;
	border-radius: 4px;
}

span.app-trip-info-route-name {
	padding: 2px;
}

span.app-trip-info-delay {
	padding: 2px;
}

div#app-vehicle-info-dialog {
	position: absolute;
	bottom: 60px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	padding-top: 16px !important;
	width: 450px;
}

@media (max-width: 500px) {
	div#app-vehicle-info-dialog {
		width: 95%;
	}
}

div#app-vehicle-info-dialog-close {
	cursor: pointer;
	font-size: 18px;
	margin-left: auto;
}

div.app-vehicle-info-dialog-wrapper {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 15px;
}

div.app-vehicle-info-dialog-row {
	margin-top: 10px;
}

span.app-vehicle-info-dialog-label {
	font-size: 0.95rem;
}

.hide-by-zoom {
	display: none !important;
}