.w3-theme-l5 {color:{{ APP_TEMPLATE_COLOR|text(5) }} !important; background-color:{{ APP_TEMPLATE_COLOR|shade(5) }} !important}
.w3-theme-l4 {color:{{ APP_TEMPLATE_COLOR|text(4) }} !important; background-color:{{ APP_TEMPLATE_COLOR|shade(4) }} !important}
.w3-theme-l3 {color:{{ APP_TEMPLATE_COLOR|text(3) }} !important; background-color:{{ APP_TEMPLATE_COLOR|shade(3) }} !important}
.w3-theme-l2 {color:{{ APP_TEMPLATE_COLOR|text(2) }} !important; background-color:{{ APP_TEMPLATE_COLOR|shade(2) }} !important}
.w3-theme-l1 {color:{{ APP_TEMPLATE_COLOR|text(1) }} !important; background-color:{{ APP_TEMPLATE_COLOR|shade(1) }} !important}
.w3-theme-d1 {color:{{ APP_TEMPLATE_COLOR|text(-1) }} !important; background-color:{{ APP_TEMPLATE_COLOR|shade(-1) }} !important}
.w3-theme-d2 {color:{{ APP_TEMPLATE_COLOR|text(-2) }} !important; background-color:{{ APP_TEMPLATE_COLOR|shade(-2) }} !important}
.w3-theme-d3 {color:{{ APP_TEMPLATE_COLOR|text(-3) }} !important; background-color:{{ APP_TEMPLATE_COLOR|shade(-3) }} !important}
.w3-theme-d4 {color:{{ APP_TEMPLATE_COLOR|text(-4) }} !important; background-color:{{ APP_TEMPLATE_COLOR|shade(-4) }} !important}
.w3-theme-d5 {color:{{ APP_TEMPLATE_COLOR|text(-5) }} !important; background-color:{{ APP_TEMPLATE_COLOR|shade(-5) }} !important}
.w3-theme-light {color:{{ APP_TEMPLATE_COLOR|text(5) }} !important; background-color:{{ APP_TEMPLATE_COLOR|shade(5) }} !important}
.w3-theme-dark {color:{{ APP_TEMPLATE_COLOR|text(-5) }} !important; background-color:{{ APP_TEMPLATE_COLOR|shade(-5) }} !important}
.w3-theme-action {color:{{ APP_TEMPLATE_COLOR|text(-5) }} !important; background-color:{{ APP_TEMPLATE_COLOR|shade(-5) }} !important}

.w3-theme {color:{{ APP_TEMPLATE_COLOR|text(0) }} !important; background-color:{{ APP_TEMPLATE_COLOR|shade(0) }} !important}
.w3-text-theme {color:{{ APP_TEMPLATE_COLOR|shade(0) }} !important}
.w3-border-theme {border-color:{{ APP_TEMPLATE_COLOR|shade(0) }} !important}

.w3-hover-theme:hover {color:{{ APP_TEMPLATE_COLOR|text(0) }} !important; background-color:{{ APP_TEMPLATE_COLOR|shade(0) }} !important}
.w3-hover-text-theme:hover {color:{{ APP_TEMPLATE_COLOR|shade(0) }} !important}
.w3-hover-border-theme:hover {border-color:{{ APP_TEMPLATE_COLOR|shade(0) }} !important}