var routesGeojson = {{ routes|geojson }};
var stopsGeojson = {{ stops|geojson }};

var tripUpdates = [];
var vehiclePositions = [];
let realtimeUpdateInterval;

var serviceAlerts = [];
let serviceAlertsUpdateInterval;

function escapeId(id) {
  return id
    .replace(/\\/g, '_')
    .replace(/\//g, '_')
    .replace(/&/g, '_')
    .replace(/%/g, '_')
    .replace(/:/g, '_')
    .replace(/\?/g, '_')
    .replace(/#/g, '_')
    .replace(/"/g, '_');
}

function showMenu() {
	document.getElementById('app-menu').classList.remove('w3-hide-small');
	document.getElementById('app-menu').classList.remove('w3-hide-medium');
	
	document.getElementById('app-action-open-menu').classList.add('w3-hide');
	document.getElementById('app-action-close-menu').classList.remove('w3-hide');
}
 
function hideMenu() {
	document.getElementById('app-menu').classList.add('w3-hide-small');
	document.getElementById('app-menu').classList.add('w3-hide-medium');
	
	document.getElementById('app-action-open-menu').classList.remove('w3-hide');
	document.getElementById('app-action-close-menu').classList.add('w3-hide');
}

function onRouteItemClick(routeId) {
    window.location.href = `routes/${routeId}.html`;
}

function getGeoJsonBounds(geojson) {
    const bounds = new maplibregl.LngLatBounds();
	
    geojson.features.forEach(feature => {
        const geom = feature.geometry;
        if (geom.type === 'LineString') {
            geom.coordinates.forEach(coord => bounds.extend(coord));
        } else if (geom.type === 'MultiLineString') {
            geom.coordinates.forEach(line => line.forEach(coord => bounds.extend(coord)));
        }
    });

    return bounds;
}

function getRouteProperties(routeId) {
    let routeFeature = routesGeojson.features.find(r => r.properties.route_id == routeId);
    if (routeFeature) {
        return routeFeature.properties;
    } else {
        return null;
    }
}

function getStopProperties(stopId) {
    let stopFeature = stopsGeojson.features.find(s => s.properties.stop_id == stopId);
    if (stopFeature) {
        return stopFeature.properties;
    } else {
        return null;
    }
}

function getDelayMinutes(delaySeconds) {
    let delayMinutes = delaySeconds / 60.0;

    return Math.round(delayMinutes / 0.1) * 0.1;
}

function getVehicleBearing(lngLatA, lngLatB) {
    const lat1 = lngLatA.lat;
    const lon1 = lngLatA.lng;
    const lat2 = lngLatB.lat;
    const lon2 = lngLatB.lng;

    const y = Math.sin(lon2 - lon1) * Math.cos(lat2);
    const x = Math.cos(lat1) * Math.sin(lat2) - Math.sin(lat1) * Math.cos(lat2) * Math.cos(lon2 - lon1);
    
    let bearing = (Math.atan2(y, x) * 180) / Math.PI;
    bearing = (bearing + 360) % 360;

    return bearing
}

function getTranslation(translations, language) {
    let translation = translations.find(t => t.language.startsWith(language));
    if (translation) {
        return translation.text;
    } else if (translations.length > 0) {
        return translations[0].text;
    } else {
        return null;
    }
}

async function fetchGtfsRealtimeData(url, headers) {
    if (!url) {
        return null;
    }

    const response = await fetch(url, {
        headers: { ...(headers ?? {}) },
    });

    if (!response.ok) {
        throw new Error(response.status);
    }

    const arrayBuffer = await response.arrayBuffer();
    const protocolBuffer = new Pbf(new Uint8Array(arrayBuffer));
    const obj = FeedMessage.read(protocolBuffer);

    return obj.entity;
}

function filterTripUpdates(updates, routeIds) {
    return updates.filter(u => {
        if (u.trip_update.trip == null) {
            return false;
        }

        return u.trip_update.trip != null && routeIds.includes(u.trip_update.trip.route_id);
    });
}

async function updateTripUpdates(url, routeIds, tripUpdatesCallback) {
    let updates = await fetchGtfsRealtimeData(url, null);

    window.tripUpdates = filterTripUpdates(updates, routeIds);

    if (tripUpdatesCallback) {
        tripUpdatesCallback(window.tripUpdates);
    }
}

function filterVehiclePositions(positions, routeIds) {
    return positions.filter(p => {
        if (p.vehicle.trip == null) {
            return false;
        }

        return p.vehicle.trip.route_id != null && routeIds.includes(p.vehicle.trip.route_id);
    });
}

async function updateVehiclePositions(url, routeIds, vehiclePositionsCallback) {
    let positions = await fetchGtfsRealtimeData(url, null);

    window.vehiclePositions = positions.filter(p => {
        return p.vehicle.vehicle != null && p.vehicle.vehicle.id != null;
    });

    if (vehiclePositionsCallback) {
        vehiclePositionsCallback(window.vehiclePositions);
    }
}

async function initializeRealtimeUpdates(tripUpdatesUrl, tripUpdatesCallback, vehiclePositionsUrl, vehiclePositionsCallback, routeIds) {
    if (!realtimeUpdateInterval) {
        const updateInterval = 10 * 1000;

        await updateTripUpdates(tripUpdatesUrl, routeIds, tripUpdatesCallback);
        await updateVehiclePositions(vehiclePositionsUrl, routeIds, vehiclePositionsCallback);

        realtimeUpdateInterval = setInterval(async () => {
            await updateTripUpdates(tripUpdatesUrl, routeIds, tripUpdatesCallback);
            await updateVehiclePositions(vehiclePositionsUrl, routeIds, vehiclePositionsCallback);
        }, updateInterval);
    }
}

function createVehicleMarkerContainer(vehiclePosition, staticAssetsDir) {
    let markerContainer = document.createElement('div');
    markerContainer.classList.add('w3-center');
    
    let markerIconDiv = document.createElement('div');
    markerIconDiv.classList.add('w3-white');
    markerIconDiv.classList.add('w3-round-xxlarge');
    markerIconDiv.classList.add('w3-border');
    markerIconDiv.classList.add('app-vehicle-img-wrapper');
    markerContainer.appendChild(markerIconDiv);

    let markerIconImg = document.createElement('img');
    markerIconImg.setAttribute('src', `${staticAssetsDir}/img/realtime.svg`);
    markerIconImg.setAttribute('width', '32');
    markerIconImg.setAttribute('height', '32');
    markerIconDiv.appendChild(markerIconImg);

    let markerVehicleDirectionArrowWrapperDiv = document.createElement('div');
    markerVehicleDirectionArrowWrapperDiv.classList.add('app-vehicle-direction-arrow-wrapper');
    markerIconDiv.appendChild(markerVehicleDirectionArrowWrapperDiv);

    let markerVehicleDirectionArrowDiv = document.createElement('div');
    markerVehicleDirectionArrowDiv.innerHTML = `<svg width="24" height="10" viewBox="0 0 24 10" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 0 L22 10 Q12 6, 2 10 Z" fill="#444" />
    </svg>`;
    markerVehicleDirectionArrowWrapperDiv.appendChild(markerVehicleDirectionArrowDiv);

    let tripInfoDiv = document.createElement('div');
    tripInfoDiv.classList.add('w3-round');
    tripInfoDiv.classList.add('w3-small');
    tripInfoDiv.classList.add('w3-hide');
    tripInfoDiv.classList.add('app-vehicle-trip-info');
    markerContainer.appendChild(tripInfoDiv);

    let tripInfoBackgroundSpan = document.createElement('span');
    tripInfoDiv.appendChild(tripInfoBackgroundSpan);

    let routeNameSpan = document.createElement('span');
    routeNameSpan.classList.add('w3-round');
    routeNameSpan.classList.add('app-trip-info-route-name');
    tripInfoBackgroundSpan.appendChild(routeNameSpan);

    let delayInfoSpan = document.createElement('span');
    delayInfoSpan.classList.add('w3-round');
    delayInfoSpan.classList.add('app-trip-info-delay');
    tripInfoBackgroundSpan.appendChild(delayInfoSpan);

    return markerContainer;
}

function updateVehicleMarkerTripData(container, tripUpdate, vehiclePosition) {
    let tripInfoDiv = container.querySelector('.app-vehicle-trip-info');
    if (tripInfoDiv) {
        if (tripUpdate) {
            let routeNameSpan = tripInfoDiv.querySelector('.app-trip-info-route-name');
            if (routeNameSpan) {
                let routeProperties = getRouteProperties(tripUpdate.trip_update.trip.route_id);
                if (routeProperties && routeProperties.route_short_name != null) {
                    routeNameSpan.innerHTML = `<b>${routeProperties.route_short_name}</b>`;
                } else if (routeProperties && routeProperties.route_long_name != null) {
                    routeNameSpan.innerHTML = `<b>${routeProperties.route_long_name}</b>`;
                }

                routeNameSpan.style.background = routeProperties.route_color;
                routeNameSpan.style.color = routeProperties.route_text_color;
            }

            let delayInfoSpan = tripInfoDiv.querySelector('.app-trip-info-delay');
            if (delayInfoSpan) {
                // assume that the first stopTimeUpdate in the tripUpdate is the next stop
                // if our vehicle position has a stop_id and current_stop_sequence, use this to pick the correct stopTimeUpdate
                let stopTimeUpdate = tripUpdate.trip_update.stop_time_update[0];
                if (vehiclePosition.vehicle.stop_id != null && vehiclePosition.vehicle.current_stop_sequence != null) {
                    let stopTimeUpdateOverride = tripUpdate.trip_update.stop_time_update.find(s => s.stop_id == vehiclePosition.vehicle.stop_id && (s.stop_sequence == 0 || s.stop_sequence == vehiclePosition.vehicle.stop_sequence));
                    if (stopTimeUpdateOverride) {
                        stopTimeUpdate = stopTimeUpdateOverride;
                    }
                }

                if (stopTimeUpdate && (stopTimeUpdate.departure.delay != null || stopTimeUpdate.arrival.delay != null)) {
                    let delayMinutes = getDelayMinutes(stopTimeUpdate.departure.delay || stopTimeUpdate.arrival.delay);

                    if (delayMinutes >= 0) {
                        delayInfoSpan.innerHTML = `<b>+${delayMinutes}</b>`;
                    } else {
                        delayInfoSpan.innerHTML = `<b>${delayMinutes}</b>`;
                    }

                    delayInfoSpan.style.background = '#ffffff';
                    if (Math.abs(delayMinutes) < 3 && delayMinutes >= 0) {
                        delayInfoSpan.style.color = '#00ff00';
                    } else {
                        delayInfoSpan.style.color = '#ff0000';
                    }
                }
            }

            tripInfoDiv.classList.remove('w3-hide');
        } else {
            tripInfoDiv.classList.add('w3-hide');
        }
    }
}

function filterServiceAlerts(alerts, routeId) {
    let routeStopIds = stopsGeojson.features.filter(f => f.properties.routes.some(r => r.route_id == routeId)).map(f => f.properties.stop_id);
    let routeParentStationIds = [...new Set(stopsGeojson.features.filter(f => f.properties.routes.some(r => r.route_id == routeId)).map(f => f.properties.parent_station))];

    return alerts.filter(a => {
        if (!a.alert.informed_entity) {
            return true;
        }

        return a.alert.informed_entity.some(e => e.route_id === routeId) || 
            a.alert.informed_entity.some(e => routeStopIds.includes(e.stop_id)) ||
            a.alert.informed_entity.some(e => routeParentStationIds.includes(e.stop_id));
    });
}

async function updateServiceAlerts(url, routeIds, serviceAlertsCallback) {
    let alerts = await fetchGtfsRealtimeData(url, null);
    let routeServiceAlertsMap = new Map();

    window.serviceAlerts = [];

    routeIds.forEach(r => {
        let serviceAlertsForRoute = filterServiceAlerts(alerts, r);
        routeServiceAlertsMap.set(r, serviceAlertsForRoute);

        window.serviceAlerts += serviceAlertsForRoute;
    });

    if (serviceAlertsCallback) {
        serviceAlertsCallback(routeServiceAlertsMap);
    }
}

function initializeServiceAlerts(url, routeIds, serviceAlertsCallback) {
    if (!serviceAlertsUpdateInterval) {
        const updateInterval = 60 * 1000;

        updateServiceAlerts(url, routeIds, serviceAlertsCallback);

        serviceAlertsUpdateInterval = setInterval(() => {
            updateServiceAlerts(url, routeIds, serviceAlertsCallback);
        }, updateInterval);
    }
}

function createAlertContainer(alertObject) {
    const alertContainer = document.createElement('div');
    
    const alertTitle = document.createElement('h6');
    alertTitle.innerHTML = getTranslation(alertObject.alert.header_text.translation, 'de');
    alertContainer.appendChild(alertTitle);

    alertObject.alert.active_period.forEach(p => {
        const activePeriodParagraph = document.createElement('p');
        activePeriodParagraph.classList.add('w3-small');
        activePeriodParagraph.classList.add('w3-bold');
        
        if (p.start != 0 && p.end != 0) {
            activePeriodParagraph.innerHTML = `Von ${moment.unix(p.start).format('{{ APP_DATETIME_FORMAT }}')} bis ${moment.unix(p.end).format('{{ APP_DATETIME_FORMAT }}')}`;
            alertContainer.appendChild(activePeriodParagraph);
        } else if (p.start != 0 && p.end == 0) {
            activePeriodParagraph.innerHTML = `Ab ${moment.unix(p.start).format('{{ APP_DATETIME_FORMAT }}')}`;
            alertContainer.appendChild(activePeriodParagraph);
        } else if (p.start == 0 && p.end != 0) {
            activePeriodParagraph.innerHTML = `Bis ${moment.unix(p.end).format('{{ APP_DATETIME_FORMAT }}')}`;
            alertContainer.appendChild(activePeriodParagraph);
        } 
    });

    const alertMessage = document.createElement('p');
    alertMessage.classList.add('w3-text-gray');
    alertMessage.classList.add('w3-small');
    alertMessage.innerHTML = getTranslation(alertObject.alert.description_text.translation, 'de');
    alertContainer.appendChild(alertMessage);

    const alertLink = document.createElement('a');
    alertLink.setAttribute('href', getTranslation(alertObject.alert.url.translation, 'de'));
    alertLink.setAttribute('target', '_blank');
    alertLink.classList.add('w3-text-theme');
    alertLink.classList.add('w3-small');
    alertLink.innerHTML = 'Mehr Infos';
    alertContainer.appendChild(alertLink);

    return alertContainer;
}