{% extends "layout.j2" %}

{% block title %}{{ APP_TEMPLATE_TITLE }}{% endblock %}

{%block header %}
<div class="w3-bar-item w3-hide-small">	
    <img class="w3-image" src="../static/img/logo.svg" width="40" height="40" />
</div>
<span class="w3-bar-item">{{ APP_TEMPLATE_TITLE }}</span>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="../static/css/w3.css" />
<link rel="stylesheet" href="../static/css/w3-theme.css" />
<link rel="stylesheet" href="../static/css/maplibre.css" />
<link rel="stylesheet" href="../static/css/app.css" />
{% endblock %}

{% block main %}
<aside id="app-menu" class="w3-mobile w3-hide-small w3-hide-medium">
    <section>
        <div class="w3-bar w3-padding-16 app-route-header">
            {% include "components/route.j2" %}
        </div>
    </section>
    <section>
        <div class="w3-container w3-padding-16">
            <h5>Aktuelle Informationen</h5>
            <div class="w3-hide app-alerts-empty">
                <span class="w3-medium w3-text-gray">Keine aktuellen Hinweise - Die Linie verkehrt planmäßig.</span>
            </div>
            <ul class="w3-hide w3-ul app-alerts-list">

            </ul>
        </div>
    </section>
    <section>
        <div class="w3-container w3-padding-16">
            <a class="w3-button w3-block w3-theme" href="../index.html">Zurück</a>
        </div>
    </section>
</aside>
<div id="app-map"></div>
{% endblock %}

{% block scripts %}
<script src="../static/js/maplibre.js"></script>
<script src="../static/js/moment.js"></script>
<script src="../static/js/pbf.js"></script>
<script src="../static/js/gtfsrt.js"></script>
<script src="../static/js/app.js"></script>
<script>
var routeIds = ['{{ route|properties('route_id') }}'];

{% if GTFS_REALTIME_SERVICE_ALERTS_URL %}
function routeServiceAlertsCallback(routeServiceAlertsMap) {
    let alerts = routeServiceAlertsMap.get('{{ route|properties('route_id') }}');

    let alertsEmptyContainer = document.querySelector('.app-alerts-empty');
    let alertsListContainer = document.querySelector('.app-alerts-list');

    if (alerts.length > 0) {
        alertsListContainer.innerHTML = '';

        alerts.forEach(a => {
            const alertItem = document.createElement('li');
            alertItem.style.border = 0;
            alertItem.style.padding = '8px 0px';

            let alertContainer = createAlertContainer(a);
            alertItem.appendChild(alertContainer);

            alertsListContainer.appendChild(alertItem);
        });

        alertsEmptyContainer.classList.add('w3-hide');
        alertsListContainer.classList.remove('w3-hide');
    } else {
        alertsEmptyContainer.classList.remove('w3-hide');
        alertsListContainer.classList.add('w3-hide');
    }
}
{% endif %}
</script>
{% import "components/map.j2" as map %}
{{ map.create([route|properties('route_id')]) }}
{% include "components/realtime_init_script.j2" %}
{% endblock %}