{% extends "layout.j2" %}

{% block title %}{{ APP_TEMPLATE_TITLE }}{% endblock %}

{%block header %}
<div class="w3-bar-item w3-hide-small">	
    <img class="w3-image" src="static/img/logo.svg" width="40" height="40" />
</div>
<span class="w3-bar-item">{{ APP_TEMPLATE_TITLE }}</span>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="static/css/w3.css" />
<link rel="stylesheet" href="static/css/w3-theme.css" />
<link rel="stylesheet" href="static/css/maplibre.css" />
<link rel="stylesheet" href="static/css/app.css" />
{% endblock %}

{% block main %}
<aside id="app-menu" class="w3-mobile w3-hide-small w3-hide-medium">
    {% for agency in agencies.features %}
        {% include "components/agency_section.j2" %}
    {% endfor %}
</aside>
<div id="app-map-wrapper">
    <div id="app-map">
    </div>
    {% import "components/vehicle_info_dialog.j2" as vehicle_info_dialog %}
    {{ vehicle_info_dialog.create('static') }}
</div>
{% endblock %}

{% block scripts %}
<script src="static/js/maplibre.js"></script>
<script src="static/js/moment.js"></script>
<script src="static/js/mqtt.js"></script>
<script src="static/js/pbf.js"></script>
<script src="static/js/gtfsrt.js"></script>
<script src="static/js/app.js"></script>
<script>
var routeIds = routesGeojson.features.map(f => f.properties.route_id);

{% if GTFS_REALTIME_SERVICE_ALERTS_URL %}
function routeServiceAlertsCallback(routeServiceAlertsMap) {
    routeServiceAlertsMap.forEach((alerts, routeId) => {
        let routeAlertIcon = document.querySelector(`[data-route-id="${escapeId(routeId)}"] .app-route-alert-icon`);
        if (routeAlertIcon && alerts.length > 0) {
            routeAlertIcon.classList.remove('w3-hide');
        } else if (routeAlertIcon && !alerts.length > 0) {
            routeAlertIcon.classList.add('w3-hide');
        }
    });
}
{% endif %}
</script>
{% import "components/map.j2" as map %}
{{ map.create('static', APP_TEMPLATE_COLOR) }}
{% include "components/realtime_init_script.j2" %}
{% endblock %}