{% extends "layout.j2" %}

{% block title %}{{ APP_TEMPLATE_TITLE }}{% endblock %}

{%block header %}
<div class="w3-bar-item w3-hide-small">	
    <img class="w3-image" src="static/img/logo.svg" width="40" height="40" />
</div>
<span class="w3-bar-item">{{ APP_TEMPLATE_TITLE }}</span>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="static/css/w3.css" />
<link rel="stylesheet" href="static/css/w3-theme.css" />
<link rel="stylesheet" href="static/css/maplibre.css" />
<link rel="stylesheet" href="static/css/app.css" />
{% endblock %}

{% block main %}
<aside id="fm-app-menu" class="w3-mobile w3-hide-small w3-hide-medium">
    {% for agency in agencies.features %}
        {% include "components/agency_section.j2" %}
    {% endfor %}
</aside>
<div id="fm-app-map"></div>
{% endblock %}

{% block scripts %}
<script src="static/js/data.js"></script>
<script src="static/js/maplibre.js"></script>
<script src="static/js/pbf.js"></script>
<script src="static/js/gtfsrt.js"></script>
<script src="static/js/app.js"></script>
{% import "components/map.j2" as map %}
{{ map.create() }}
{% endblock %}