<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{ title }}</title>
    </head>
    <body>
        <h1>Hello, World!</h1>
        {% if FM_TEMPLATE_CREDITS %}
        <footer>
            <p>Powered by FeedMap</p>
        </footer>
        {% endif %}
    </body>
</html>