<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{{ FM_TEMPLATE_TITLE }}{% endblock %}</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta charset="utf-8" />
		{% block styles %}
		{% endblock %}
	</head>
	<body>
		<header class="w3-bar w3-theme w3-large">
			<a id="fm-action-open-menu" class="w3-bar-item w3-large w3-hide-large" onclick="showMenu();">&#x2630;</a>
			<a id="fm-action-close-menu" class="w3-bar-item w3-large w3-hide-large w3-hide" onclick="hideMenu();">&#x2716;</a>
			{% block header %}
			{% endblock %}
		</header>
		<main>
        {% block main %}
        {% endblock %}
		</main>
		<footer class="w3-container w3-theme-light w3-center w3-opacity">
			{% if FM_TEMPLATE_CREDITS %}
            <p class="w3-small">
				built by <a href="https://github.com/sebastianknopf" target="_blank">sebastianknopf</a> with <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a>, <a href="https://maplibre.org/" target="_blank">maplibre-js</a> and <a href="https://github.com/BlinkTagInc/gtfs-to-geojson" target="_blank">gtfs-to-geojson</a>
			</p>
            {% endif %}
		</footer>
		{% block scripts %}
		{% endblock %}
	</body>
</html>